
body {
  margin: 0;
  color: #333;
  background: #f9f9f9;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.header {
  background: white;
  padding: 25px;
}

.logo {
  height: 100px;
  padding-left:50px;
  
}

.nav {
  display: inline-block;
  float: right;
}

.nav a {
  color: darkblue;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  background: blue;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.hero .btn-primary {
  background: #fff;
  color: #0059b3;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.features {
  padding: 40px 0;
}

.features h2 {
  text-align: center;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.feature-item {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 250px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.about {
  padding: 40px 0;
  text-align: center;
}

.team-img {
  max-width: 300px;
  border-radius: 15px;
  margin: 20px 0;
}

.contact form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 20px auto;
}

.contact input, 
.contact textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.btn-primary {
  background: blue;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.footer {
  background: darkblue;
  color:white;
  text-align: center;
  padding: 10px 0;
}



